*{
    padding: o;
    margin: 0;
}
body{
    background-color: #d0cccc;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: monospace
}
.temp{
    font-size: 75px;
}
.temperature h3{
    font-size: 20px;
    margin: 10px;

}
.temperature img{
    margin-left: 15px;
}
.foot{
    height: 14vmin;
    width: 41vmin;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    font-size: 25px;
}
.foot img{
    margin-top: 10px;
}
.search{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.search input{
    height: 4vmin;
    width: 30vmin;
    /* border: none; */
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}
.search button img{
    height: 2vmin;
    width: 2vmin;
}
.search button{
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 10vmin;
    border-radius: 20px;
    background-color: white;
    color: black;
}
.weather{
    display: flex;
}
.left-part{
    background-color: white;
    color: black;
    height: 90vh;
    width: 50vh;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.temperature{
    padding: 20px;
}
.right-part{
    background-color: #eeeded;
    color: black;
    height: 90vh;
    width: 109vh;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.days-head{
    margin-top: 20px;
    margin-left: 20px;
}
.days{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.days div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 14vmin;
    width: 13vmin;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.days div h4{
    margin: 5px;
}
.highlights-head{
    margin: 20px;
}
.highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 56vmin;
    width: 110vmin;
}
.highlights div{
    height: 25vmin;
    width: 30vmin;
    border-radius: 10px;
    margin: 5px; 
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px;
    font-size: 15px;
}
#sunrise{
    margin: 0px;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    height: 40px;
}
#sunset{
    margin: 0px;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    height: 40px;

}
.highlights h4 .footer-img{
    margin: 5px;
}
#right-top{
    display: flex;
    justify-content: space-between;
}
#right-top button{
    height: 30px;
    border: none;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
}